/*
* @Author: mingming
* @Date:   2017-05-10 16:52:45
* @Last Modified by:   mingming
* @Last Modified time: 2017-05-18 18:27:48
*/
body {
	background-color: rgba(11, 161, 167, 0.25);
}

/* 轮播项 */
.kcw-left {
	float: left;
	width: 50%;
	height: 427px;
	background-size: cover;
}

.bigImg {
	position: absolute;
	left: 50%;
	margin-left: -400px;
}

.kcw-right {
	float: right;
	width: 50%;
	height: 427px;
	background-size: cover;
}

.cover {
	height: 100%;
	width: 100%;
	background: rgba(255, 255, 2555, 0.6);
}

/* 主要内容 */
.kcwItemTitle {
	text-align: center;
	border-bottom: #e0e0e0 solid 1px;
}

.kcwItemTitle h2 {
	font-size: 24px;
	font-weight: 600;
	margin-top: 10px;
	padding: 6px;
}

/* 新闻 */
.kcwItem {
	margin-top: 10px;
	background: #fff;
	border-radius: 5px;
	padding: 10px;
}

.newsBox {
    padding: 10px;
}

.newsBox .left {
	float: left;
	border-right: 1px solid #f0f0f0;
	margin-right: -1px;
    min-height: 220px;
	
}

.newsBox .right {
	float: right;
}

.newsBox .fa-angle-double-left {
	color: rgb(5, 154, 160);
	padding: 0 5px;
}

.newsBox li {
	margin: 6px 0;
}

.newsBox a:hover {
	font-weight: 600;
}

.newsBox li:hover .fa-angle-double-left {
	font-size: 16px;
}

