/*
* @Author: mingming
* @Date:   2017-05-16 11:09:35
* @Last Modified by:   mingming
* @Last Modified time: 2017-05-18 19:27:25
*/
.talkContainer {
    padding: 20px 0;
    min-height: 445px;
}
.talkContainer h2 {
    font-size: 31px;
    color: rgba(45, 153, 156, 0.85);
    text-align: center;
    padding: 20px 0;
}
.toTalkContainer {
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 0;
}
#editor {
    height: 91px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    line-height: 35px;
    padding: 6px 2px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    border-radius: 5px;
    text-indent: 2em;
}
#btn {
    margin-top: 10px;
    background: url(../img/表情.png) no-repeat center center;
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 50%;
}
#toTalk {
    margin-top: 10px;
    float: right;
    font-size: 18px;
}
#toTalk:hover {
    background-color: #4da8ab;
    color: #fff;
    border-color: rgba(77, 168, 171, 0.39);
}
.userName {
    font-size: 19px;
    padding: 4px 0;
}
.tips {
    font-size: 16px;
    padding: 4px 0;
    color: #555;
}
.oldTallk {
    padding: 10px 0;
}
.oldTallk h3 {
    font-size: 27px;
    color: rgba(45, 153, 156, 0.85);
    font-weight: 600;
    padding: 10px 0;
}
i.glyphicon-user {
    color: #ffffff;
    font-size: 40px;
    border: 1px solid #e0e0e0;
    background: #4da8ab;
    padding: 13px;
    float: left;
    margin-right: 10px;
}
.kcwItem {
    padding: 20px 10px;
    border-bottom: 1px solid #e0e0e0;
    font-size: 15px;
}
.kcwItem:last-child {
    border-bottom: none;
}
.kcwItem .name {
    float: none;
    font-size: 18px;
    font-weight: 600;
}
.kcwItem p {
    float: left;
    margin-left: 2em;
}
.kcwItem .userTalk {
    line-height: 30px;
}
.kcwItem .time {
    line-height: 30px;
    float: right;
    font-size: 13px;
    color: #555;
}
.page {
    text-align: center;
}
.pagination > li > a, .pagination > li > span {
    color: #288c98;
}
.pagination > li > a:hover, .pagination > li > span:hover {
    background: rgba(11, 161, 167, 0.1);
}
.pagination > li > a:focus, .pagination > li > span:focus {
    background: rgba(11, 161, 167, 0.25);
}